name: doc

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - "COPYRIGHT"
      - "LICENSE*"
      - "**.md"
      - "**.txt"
      - "art"
  pull_request:
    paths-ignore:
      - "README.md"
      - "COPYRIGHT"
      - "LICENSE*"
      - "**.md"
      - "**.txt"
      - "art"
  workflow_dispatch:

env:
  nightly: nightly

jobs:
  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Cache cargo build and registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ubuntu-latest-docs-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ubuntu-latest-docs-
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.nightly }}
          override: true
      - name: "doc --lib --all-features"
        run: cargo doc --lib --no-deps --all-features
        env:
          RUSTFLAGS: --cfg docsrs
          RUSTDOCFLAGS: --cfg docsrs -Dwarnings
